/* Виділені основні кольори фону, спільні кольори для фону та тексту, кольори тексту. Використання змінних*/
:root {
    --primary-backgroud-color:#E5E5E5;
    --secondary-backgroud-color: #2F303A;
    --team-background-color: #F5F4FA;

    --navmain-hero-adress-color: #FFFFFF;
    --accent-color: #2196F3;

    --primary-text-color:#757575;
    --secondary-text-color:#212121;
    --transparent-text-color: rgba(255, 255, 255, 0.6);
}

/*Забираємо точки в списках і підкреслення ссилок*/
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/*Загальне для body*/
body {
    font-style: normal;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;

    background-color: var(--primary-backgroud-color);
}

/*Оформлення для header*/
header {
    background-color: var(--navmain-hero-adress-color);
}

/*Оформлення логотипу*/
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo .accent {
    color: var(--accent-color);
}
.logo .header {
    color: var(--secondary-text-color);
}
.logo .footer {
    color: var(--navmain-hero-adress-color);
}

/*Оформлення списку навігації та списку контактів*/
.nav-links, .contact {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}

.nav-links-studio, .contact-mail{
    color: var(--accent-color);
}
.contact-tel {
    color: var(--primary-text-color);
}

/* Оформлення унікальної інформації сторінки Студія*/

/*Оформлення секції героя. Секція, в якій можна замовити послугу*/
.hero {
    font-family: Roboto, sans-serif;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--navmain-hero-adress-color);
    background-color: var(--secondary-backgroud-color);
}
.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
}
.hero-button {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}