/* Виділені основні кольори фону, спільні кольори для фону та тексту, кольори тексту. Використання змінних*/
:root {
    --primary-backgroud-color:#E5E5E5;
    --secondary-backgroud-color: #2F303A;
    --team-background-color: #F5F4FA;

    --navmain-hero-adress-color: #FFFFFF;
    --accent-color: #2196F3;

    --primary-text-color:#757575;
    --secondary-text-color:#212121;
    --transparent-text-color: rgba(255, 255, 255, 0.6);
}

/*Забираємо точки в списках і підкреслення ссилок*/
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/*Оформлення логотипу*/

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
}
.logo .accent {
    color: var(--accent-color);
}
.logo .header {
    color: var(--secondary-text-color);
}
.logo .footer {
    color: var(--navmain-hero-adress-color);
}

/*Оформлення навігації*/
